.bg-color-header {
    background-color: rgb(79, 153, 238);
}

.color-w {
    color: aliceblue;
}

.icon-large {
    font-size: xx-large;
}

button {
    border: none;
    color: aliceblue;
    background-color: rgba(255, 0, 0, 0);
}

.carousel-container {
    position: relative;
    height: 60vh;
}

.item {
    position: absolute;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    display: none;
}

.active {
    display: inline-block;
}

.button-next-prev {
    height: 100%;
    position: absolute;
    top: 0;
    right: 49%;
}

#previous,
#next {
    font-size: xx-large;
}